body {
    background: red;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: grid;
    align-content: center;
    text-align: center;
    min-height: 100vh;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    margin: 0;
}

p {
    color: white;
}

ul {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

li {
    text-align: left;
}

a { 
    color: white;
}