/* ---------------------- 
CSS TABLE OF CONTENTS

# TYPOGRAPHY
# BUTTONS
# LAYOUT
    # GRID

------------------------- */
/* TYPOGRAPHY */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 100%;
  /* 16px */
  line-height: 1.5em;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  margin: 0 0 .5em 0;
  max-width: 38em; }

/* Traditional typographic scale
    48, 36, 24, 21, 18, 16 */
h1 {
  font-size: 3em;
  line-height: 1em; }

/* 48 / 16 = 3em */
h2 {
  font-size: 2.25em;
  line-height: 1.1em; }

/* 36 / 16 = 2.25em */
h3 {
  font-size: 1.5em;
  line-height: 1.2em; }

/* 24 / 16 = 1.5em */
h4 {
  font-size: 1.3125em;
  line-height: 1.3em; }

/* 21 / 16 = 1.3125em */
h5 {
  font-size: 1.125em;
  line-height: 1.4em; }

/* 18 / 16 = 1.125em */
h6 {
  font-size: 1em;
  line-height: 1.5em; }

/* 16 / 16 = 1em */
p {
  margin: 0 0 .5em 0;
  max-width: 38em; }

/* Horizontal Rule */
hr {
  border: 0;
  height: 1px;
  margin: 3em 0;
  background: #ddd; }

/* HELPERS */
.headline {
  font-size: 4em;
  color: #c6538c;
  margin: 0; }

.subheadline {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  margin: 0.25em 0 0.5em 0; }

.meta {
  font-size: .875em;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5em; }

/* COMPONENTS  */
/* Buttons */
button {
  font-size: inherit; }

button,
a.button {
  display: inline-block;
  background-color: #39c;
  border: 1px solid #39c;
  color: #fff;
  padding: 0.75em 1em;
  border-radius: 0.3em;
  margin: 0.5em 0;
  border: none;
  cursor: pointer;
  line-height: 1em;
  text-decoration: none; }

button.alt,
a.button.alt {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #39c;
  color: #39c; }

button:hover,
a.button:hover {
  background-color: #069;
  color: #fff;
  border-color: #069;
  text-decoration: none; }

/* MEDIA  */
/* Responsive Images */
img {
  max-width: 100%;
  height: auto; }

/* LAYOUT */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
#MEDIA QUERIES (Mobile First)
	#DEFAULT+ (Mobile First - Default Settings in the CSS Above)
	#SMALL- (Mobile Only Overrides) - max-width: 767px
	#MEDIUM+ (Tablet) - min-width: 768px
	#LARGE+ (Desktop) - min-width: 1050px
	#EXTRALARGE+ (Desktop+) - min-width: 1250px  */
/* SMALL+ (Mobile First Defaults) */
body {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 4%; }

/* SMALL ONLY (e.g. for mobile overrides) */
@media (max-width: 767px) {
  /* SMALL BODY TYPE ON SMALL SCREEENS ONLY */
  body {
    font-size: 88.75%;
    /* 14px; */ } }

/* #MEDIUM+ */
/* #LARGE+  */
@media (min-width: 1050px) {
  /* FIXED WIDTH CONTAINER AT MEDIUM SIZE FOR LARGE SCREENS */
  .container {
    width: 1000px;
    padding: 0 50px; } }

/* #EXTRA-LARGE+ */
@media (min-width: 1250px) {
  /* EXTRA-LARGE BODY TYPE ON EXTRA-LARGE SCREEN */
  body {
    font-size: 112.5%;
    /* 18px; */ }
  /* FIXED WIDTH CONTAINER AT LARGER SIZE FOR EXTRA-LARGE SCREENS */
  .container {
    width: 1200px; } }

/* GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.row > .column {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  margin: 1% 0;
  padding: 1em; }
  @media (min-width: 550px) {
    .row > .column.one-half {
      width: 49%; }
    .row > .column.one-third {
      width: 32.3333%; }
    .row > .column.two-thirds {
      width: 65.6666%; }
    .row > .column.one-fourth {
      width: 24%; } }

.demo .column {
  background: #ddd; }

/* SITE STRUCTURE */
.site-header {
  background: #c6538c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center; }
  .site-header a {
    color: #fff;
    text-decoration: none; }
  .site-header .site-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
  .site-header .site-navigation a {
    display: block;
    padding: 1em; }
