// VARIABLES
$type-base: 'acumin-pro', Helvetica, arial, sans-serif;
$type-heading: 'kepler-std', georgia, serif;
$type-linewidth: 38em;

//COLORS
$type-color: rgba(0,0,0,.8);
$type-color-lightgrey: rgba(0, 0, 0, 0.5);
$type-color-links: #036;
$type-color-linksdark: #003;
$accent-color: rgba(204,0,0,1);

@import "partials/toc";
@import "partials/typography";
@import "partials/buttons"; 
