// VARIABLES
$type-base: "Source Sans Pro", Helvetica, Arial, sans-serif;
$type-heading: Georgia, serif;
$type-linewidth: 38em;
$type-color: #333;
$type-color-lightgrey: rgba(0, 0, 0, 0.5);
$type-color-links: #39c;
$type-color-linksdark: #069;

//COLOR
$accent-color: #093550;

@import "partials/toc";
@import "partials/typography";
@import "partials/components";
