/* GRID */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &.swapped {
    flex-direction: row-reverse;
  }
}

.row > .column {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  margin: 1% 0;
  padding: 1em;
  @media (min-width: 550px) {
    &.one-half {
      width: 49%;
    }
    &.one-third {
      width: 32.3333%;
    }
    &.two-thirds {
      width: 65.6666%;
    }
    &.one-fourth {
      width: 24%;
    }
  }
  &.centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo .column {
  background: #ddd;
  text-align: center;
  p {
    max-width: none;
  }
}