{
  "name": "my_theme-wp",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/style.scss",
      "imports": [
        "sass/variables-site/_variables-site.scss",
        "sass/mixins/_mixins-master.scss",
        "sass/_normalize.scss",
        "sass/typography/_typography.scss",
        "sass/elements/_elements.scss",
        "sass/forms/_forms.scss",
        "sass/navigation/_navigation.scss",
        "sass/modules/_accessibility.scss",
        "sass/modules/_alignments.scss",
        "sass/modules/_clearings.scss",
        "sass/site/secondary/_widgets.scss",
        "sass/site/_site.scss",
        "sass/modules/_infinite-scroll.scss",
        "sass/media/_media.scss",
        "sass/variables-site/_colors.scss",
        "sass/variables-site/_typography.scss",
        "sass/variables-site/_structure.scss",
        "sass/variables-site/_columns.scss",
        "sass/typography/_headings.scss",
        "sass/typography/_copy.scss",
        "sass/elements/_lists.scss",
        "sass/elements/_tables.scss",
        "sass/forms/_buttons.scss",
        "sass/forms/_fields.scss",
        "sass/navigation/_links.scss",
        "sass/navigation/_menus.scss",
        "sass/layout/_content-sidebar.scss",
        "sass/layout/_sidebar-content.scss",
        "sass/site/primary/_posts-and-pages.scss",
        "sass/site/primary/_comments.scss",
        "sass/media/_captions.scss",
        "sass/media/_galleries.scss"
      ]
    },
    {
      "path": "sass/woocommerce.scss",
      "imports": [
        "sass/variables-site/_variables-site.scss",
        "sass/mixins/_mixins-master.scss",
        "sass/shop/_tables.scss",
        "sass/shop/_products.scss",
        "sass/shop/_single-product.scss",
        "sass/shop/_checkout.scss",
        "sass/shop/_components.scss",
        "sass/shop/_widgets.scss",
        "sass/variables-site/_colors.scss",
        "sass/variables-site/_typography.scss",
        "sass/variables-site/_structure.scss",
        "sass/variables-site/_columns.scss"
      ]
    },
    {
      "path": "sass/elements/_elements.scss",
      "imports": [
        "sass/elements/_lists.scss",
        "sass/elements/_tables.scss"
      ]
    },
    {
      "path": "sass/forms/_forms.scss",
      "imports": [
        "sass/forms/_buttons.scss",
        "sass/forms/_fields.scss"
      ]
    },
    {
      "path": "sass/media/_media.scss",
      "imports": [
        "sass/media/_captions.scss",
        "sass/media/_galleries.scss"
      ]
    },
    {
      "path": "sass/navigation/_navigation.scss",
      "imports": [
        "sass/navigation/_links.scss",
        "sass/navigation/_menus.scss"
      ]
    },
    {
      "path": "sass/site/_site.scss",
      "imports": [
        "sass/layout/_content-sidebar.scss",
        "sass/layout/_sidebar-content.scss",
        "sass/site/primary/_posts-and-pages.scss",
        "sass/site/primary/_comments.scss"
      ]
    },
    {
      "path": "sass/typography/_typography.scss",
      "imports": [
        "sass/typography/_headings.scss",
        "sass/typography/_copy.scss"
      ]
    },
    {
      "path": "sass/variables-site/_variables-site.scss",
      "imports": [
        "sass/variables-site/_colors.scss",
        "sass/variables-site/_typography.scss",
        "sass/variables-site/_structure.scss",
        "sass/variables-site/_columns.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": false,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7885,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "/home1/egargiul/public_html/nma/test10/wp-content/themes/my_theme-wp/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "egargiulo.com",
      "port": 22,
      "usePrivateKey": false,
      "username": "egargiul",
      "password": "z3Bluehost666;",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "style.css",
        "ctime": "2017-10-31T10:28:30.218Z",
        "mtime": "2017-10-31T10:28:30.218Z",
        "size": 18471
      },
      {
        "file": "header.php",
        "ctime": "2017-10-31T10:29:43.441Z",
        "mtime": "2017-10-31T10:29:43.441Z",
        "size": 1956
      },
      {
        "file": "footer.php",
        "ctime": "2017-10-31T10:21:15.925Z",
        "mtime": "2017-10-31T10:21:15.925Z",
        "size": 680
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"autoCompile\":true,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"pug\",\"jade\"],\"replaceSegmentsWith\":\"html\",\"relative\":\"\"},\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}